.ipynb_checkpoints/

train_17_18_19.parquet
test_2020.parquet
absolute_data/

BASELINE_llama32_test20.jsonl
BASELINE_llama32_test20_NORM.jsonl
TRAINED_llama32_test20_raw_output.jsonl
TRAINED_llama32_test20_raw_output_NORM.jsonl

lora_json_outputs_es/
lora_json_kl/

*.bin
*.safetensors
*.pt

figures/
